<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{ property.Image }}.png" alt="" />
    <img *ngIf="!property.Image" class="card-img-top" src="assets/images/home.png" alt="" />
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}"><em class="far fa-edit"></em></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><em class="far fa-address-book"></em></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ property.Name }}</h1>
    <h2>{{ property.Type }}</h2>
    <h3>{{ property.Price }}</h3>
  </div>
</div>
